.menu-grid {
  margin: 20px;
  background-color: rgb(199, 103, 25);

  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: minmax(200px auto);
  grid-gap: 20px;
  justify-content: center;
  align-content: center; 
}

.menu-item{
  margin: 10px;
}

.checkout{
 grid-column-start: 1;
 grid-column-end: -1;
}

div p {
    text-align: center;
    width: 140px;
    margin: 5px;
}

button {
  display:inline-block;
  border: none;
  padding: 6px 12px
  margin-bottom: 0;
  font-size: 14px
  font-weight:normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px

}
